

body {
    width: 100%;
    height: 100%;
    background-image: url('../img/brick_and_ivy_op.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color:black;
}

div.header {
    background-color:white;
    padding:15px;
}